doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Carlos Bustos
    body
        .header
            h1.page-title Carlos Bustos
            ul.subtitle
                lo: div.mini#a About Me
                lo: &nbsp;&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;&nbsp;
                lo: div.mini#c Portfolio
        ul.nav
            li: div.large-static &nbsp;
            li: div.large-blue About Me
            li: div.large My Story
            li: div.large Education
            li: div.large Experience
            li: div.large Contact
            li: div.large &nbsp;
            li: div.large-blue Portfolio
            li: div.large &nbsp; 
            li: div.large &nbsp;
            li: div.large &nbsp;  
            li: div.large &nbsp;
            li: div.large &nbsp;  
            li: div.large &nbsp;
            li: div.large &nbsp;
            li: div.large &nbsp;
            li: div.large &nbsp;
            li: div.large &nbsp;



        .main-content
            block content
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/main.js"></script>
